QUANTPHEMES_API_KEY=replace-with-quantphemes-api-key
QUANTPHEMES_PORTFOLIO_ID=replace-with-portfolio-id
QUANTPHEMES_STRATEGY_ID=replace-with-strategy-id

STRATEGY_RL_CROSS_ID=replace-with-strategy-id
PORTFOLIO_RL_CROSS_ID=replace-with-portfolio-id
STRATEGY_RL_VOL_ID=replace-with-strategy-id
PORTFOLIO_RL_VOL_ID=replace-with-portfolio-id
STRATEGY_RL_FACOV_ID=replace-with-strategy-id
PORTFOLIO_RL_FACOV_ID=replace-with-portfolio-id
STRATEGY_RL_BROAD_A_ID=replace-with-strategy-id
PORTFOLIO_RL_BROAD_A_ID=replace-with-portfolio-id
STRATEGY_RL_BROAD_B_ID=replace-with-strategy-id
PORTFOLIO_RL_BROAD_B_ID=replace-with-portfolio-id
STRATEGY_GROUPMATE_2800_1H_ID=replace-with-strategy-id
PORTFOLIO_GROUPMATE_2800_1H_ID=replace-with-portfolio-id
STRATEGY_GROUPMATE_7226_1H_ID=replace-with-strategy-id
PORTFOLIO_GROUPMATE_7226_1H_ID=replace-with-portfolio-id

WEBULL_APP_KEY=replace-with-webull-app-key
WEBULL_APP_SECRET=replace-with-webull-app-secret
WEBULL_ACCOUNT_ID=replace-with-webull-account-id
WEBULL_REGION=hk
WEBULL_API_ENDPOINT=api.sandbox.webull.hk
